
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: white;
}

/* Navbar */

nav{
    background-color: #00aaff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 40px;

    position: relative;
}

/* Logo */

.logo h1{
    color: white;
    font-size: 28px;
    text-transform: capitalize;
}

/* Desktop Nav */

.desktop-nav{
    display: flex;
    gap: 30px;
    list-style: none;
}

.desktop-nav li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.desktop-nav li a:hover{
    color: lightgray;
}

/* User */

.user{
    background-color: white;
    padding: 8px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.user h1{
    color: #00aaff;
    font-size: 18px;
}

/* Menu Button */

.menu-btn{
    display: none;

    background: none;
    border: none;

    color: white;
    font-size: 30px;

    cursor: pointer;
}

/* Dropdown Menu */

.dropdown{
    position: absolute;

    top: 70px;
    left: -100%;

    width: 70%;
    height: 100vh;

    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;

    transition: 0.5s;
}

/* Show menu using focus */

.menu-btn:focus + .dropdown{
    left: 0;
}

/* Dropdown Links */

.dropdown li{
    list-style: none;
}

.dropdown li a{
    text-decoration: none;
    color: white;
    font-size: 28px;
}

.dropdown li a:hover{
    color: #00aaff;
}

/* Hero Section */

.hero{
    min-height: 90vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 60px;

    gap: 40px;
}

/* Left Side */

.hero-left{
    width: 50%;
}

.hero-left h1{
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 1.2;
    color: #222;
}

.hero-left span{
    color: #00aaff;
}

.hero-left p{
    font-size: 18px;
    color: gray;
    line-height: 1.7;
    margin-bottom: 25px;
}

.hero-left button{
    background-color: #00aaff;
    color: white;

    border: none;

    padding: 15px 25px;

    border-radius: 8px;

    font-size: 16px;

    cursor: pointer;

    transition: 0.3s;
}

.hero-left button:hover{
    background-color: #008ecc;
     transform: rotate(-10deg) scale(1.5);
}


.hero-left button:focus{
    outline: 2px solid black;
}

/* Right Side */

.hero-right{
    width: 50%;
    text-align: center;
}

.hero-right img{
    width: 100%;
    max-width: 500px;
    transition-duration: 0.3s;
    transition-timing-function: linear;

}
.hero-right img:hover{
    animation: orbit 1.5s infinite ease-in-out;
}
/* Orbit Animation */
@keyframes orbit{

    0%{
        transform: scale(1);
    }

    25%{
        transform: translate(20px,-15px) rotate(5deg) scaleX(0.9);
    }

    50%{
        transform: translate(35px,10px) rotate(10deg) scaleY(0.85);
    }

    75%{
        transform: translate(-20px,15px) rotate(-6deg) scaleX(1.05);
    }

    100%{
        transform: translate(0px,0px) rotate(0deg) scale(1);
    }
}
/* Tablet */

@media(max-width:1024px){

    nav{
        padding: 15px 25px;
    }

    .hero{
        padding: 40px;
    }

    .hero-left h1{
        font-size: 40px;
    }

    .hero-left p{
        font-size: 16px;
    }
}

/* Mobile */

@media(max-width:768px){

    /* Hide desktop nav */

    .desktop-nav{
        display: none;
    }

    /* Show menu button */

    .menu-btn{
        display: block;
    }

    /* Hide user */

    .user{
        display: none;
    }

    nav{
        padding: 15px 20px;
    }

    .logo h1{
        font-size: 22px;
    }

    /* Hero section */

    .hero{
        flex-direction: column;
        text-align: center;

        padding: 40px 20px;
    }

    .hero-left,
    .hero-right{
        width: 100%;
    }

    .hero-left h1{
        font-size: 32px;
    }

    .hero-left p{
        font-size: 15px;
    }

    .hero-left button{
        width: 100%;
    }

    .hero-right img{
        max-width: 100%;
    }
}
